

.formbox{
    width: 63%;
    height: auto;
    text-align: center;
    padding: 100px;
    border: 1px solid black;
    margin-left: 20px;
    color: white;
    background-size: cover;
    background: url('../stephen-root-milton-waddams-office-space.jpg') no-repeat;

}

li{
    display: inline;
    padding: 20px;
}

.left{
    width: 55%;
    margin-left: 20px;
    font-size: large;
    float: left;
}
.right{
    width: 20%;
    float: left;
    margin-left: 35px;
}
@media(max-width: 750px)  {
    .left{
        width: 100%;
    }
    .right{
        width: 100%;

    }
    h1{
        font-size: 3em;
    }
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    .formbox{
        padding: 50px;
    }
    li{
        font-size: 1.5em;
        display: block;
    }

}
.bottom{
    border: 3px solid black;
    padding: 50px;
    width: 1000px;
    height: 30px;
    margin-top: 300px;
    margin-left: 20px;
    clear: both;
}
footer{
    text-align: center;
}